body {
background: url(robles-back.jpg);
background-size:cover ;
background-repeat: no-repeat;
background-position: center ;
color: white;
}

header{
    background-color: rgba(121, 38, 142, 255);
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;}
    
    .avatar{
        width: 155px;
        height: 175px;
        border-radius: 25%;
    }
    
.filler{
    display: flex;
}


    .grid-container p{
        display: grid;
        grid-template-columns: 400px;
        grid-row-gap: 100px;
        grid-column-gap: 100p;
    }
    
    
    p {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 25px;
    }

    .grid-container h2{
        border: ;
        border-width: thick;
        border-style: dashed;
        border-color: rgb(158, 100, 197);
    }

    nav h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
     height: 25px;
     gap: 2rem;
}


nav a:hover{
    color: white;
}

nav ul{
display: flex;
justify-content: space-evenly;
list-style-type: none;
background-color: rgb(13, 12, 12);
padding: 30px;
margin-block: 15px;
gap: 3rem;

}


.links a {
    color: aliceblue;
    
}

.grid-container img{
    display: flex;
    justify-content:left;
    background-size: contain;
    height: 400px;
    width: 400px;
}
  