
body {
background: url(robles-back.jpg);
background-size:cover ;
/* background-repeat: no-repeat; */
background-position: center ;
color: white;
}

header{
    background-color: rgba(121, 38, 142, 255);
    background-image: linear-gradient( to right, rgba(121, 38, 142, 255),rgba(34, 7, 127, 255), white );
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;}
    
    .avatar{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 10%;
        border-radius: 25%;
        box-shadow: 8px 8px 8px black;
    }
    

    .grid-container p{
        /* display: grid;
        grid-template-columns: 400px; */
        grid-row-gap: 100px;
        grid-column-gap: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
        word-break: break-word;
        padding: 100px;
    }
    
    
    p {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 25px;
    }

    .grid-container h2{
        border: 35px 35px;
        font-weight: bold;
        border-width: thick;
        border-style: dashed;
        border-color: rgb(158, 100, 197);
    }

    nav h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
     height: 25px;
     gap: 2rem;
}

span[data-descr]:hover::after{
    content: attr(data-descr);
    position:relative;
    border: 10px violet;
    border-radius: 50px;
    background-color: blueviolet;
    padding: 10px;
    /* font-size: 75%; */
    z-index: 1;

}



nav a:hover{
    color: white;
}

nav ul{
display: flex;
justify-content: space-evenly;
list-style-type: none;
background-color: rgb(13, 12, 12);
padding: 30px;
margin-block: 15px;
gap: 3rem;
font-size: 25px;

}


#contact-me{
border-style: solid;
border-width: thick;
border-color: brown;
margin-top: 40px;
margin-bottom: 70px;

}

#p-link{
    color: antiquewhite;
}

.links a {
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.links a:hover{
color: rgb(158, 100, 197);
}


.click-me:hover {
color: blueviolet;
    opacity: 1;
}


#project-site{
   
    background-size: contain;
    height: 300px;
  
}



.password {

    background-size: contain;
    height: 300px;

}

#anime{
background-size: contain;
    height: 300px;
}

#memes{
background-size: contain;
    height: 300px;
  
}
  

#track{
    background-size: contain;
        height: 300px;
}

.portfolio-images{
    display: block;
    justify-content: space-evenly;
    padding-left: 300px;
}


@media screen and (max-width: 768px) {
    header,main,nav, div{
        flex-direction:block ;
    }

    /* section { 
        text-align: center;

    } */
}

@media screen and(max-width:760px){
   p {
        font-size: 1rem;
        text-align: center;
    }
}


/* @media screen and(max-width:760px) {
    .portfolio-images {
        font-size: 1rem;
        text-align: center;
        padding-left: none;
    }
} */