body {
background: url(robles-back.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
color: white;
}

header{
    background-color: rgba(121, 38, 142, 255);
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;}

  
nav h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
     height: 25px;
     gap: 2rem;
}
nav a:hover{
    color: white;
}

nav ul{

display: inline-flexbox;
background-color: rgb(13, 12, 12);
margin-block: 45px;

}

aside {
    font-size: 25px;
}


.links a {
    color: aliceblue;
    
}

  p {
      display: flex;
      justify-content: space-evenly;
  }